<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='styles.css'></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Mint Condition</title>
  </head>
  <body id="background">
    <div id='main'>
    <h1 id='header'>Mint Condition</h1>

    <!-- nav bar bootstrap -->
    <nav class="nav-style navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="collection">Collection<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="wishlist">Wish List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="login">Log In</a>
              <a class="dropdown-item" href="register">Register</a>
            </div>
          </li>
        </ul>
      <a class="nav-link" href="search-cards">Advanced Search<span class="sr-only">(current)</span></a>
      </div>
    </nav>
<!-- end of navbar -->

<h2>Register</h2>
<!-- register -->
<form id='registration' action='/add-user' method='POST'>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">User Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name='userName' id="inputEmail3">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Location</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name='location' id="inputEmail3">
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Favorite Deck</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name='faveDeck' id="inputEmail3">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Play Style</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name='playStyle' id="inputEmail3">
    </div>
  </div>
      <div class="form-group row">
    <label class="col-sm-2 col-form-label">How long have you been playing?</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name='playTime' id="inputEmail3">
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">How many cards do you have?</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name='numberOfCards' id="inputEmail3">
    </div>
  </div>
     <div class="form-group row">
    <label class="col-sm-2 col-form-label">Tell us about you</label>
    <div class="col-sm-10">
      <input type="textarea" class="form-control" name='aboutme' id="inputEmail3">
    </div>
  </div>
  <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name='avatar' id="inlineCheckbox1" value="avacyn.png">
  <label class="form-check-label" for="inlineCheckbox1"><img class='avatar-selection' src='avacyn.png'/></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name='avatar' id="inlineCheckbox2" value="black lotus.png">
  <label class="form-check-label" for="inlineCheckbox2"><img class='avatar-selection' src='black lotus.png'/></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name='avatar' id="inlineCheckbox3" value="Squee.png">
  <label class="form-check-label" for="inlineCheckbox3"><img class='avatar-selection' src='Squee.png'/></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name='avatar' id="inlineCheckbox4" value="dude.png">
  <label class="form-check-label" for="inlineCheckbox4"><img class='avatar-selection' src='dude.png'/></label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name='avatar' id="inlineCheckbox5" value="jace.png">
  <label class="form-check-label" for="inlineCheckbox5"><img class='avatar-selection' src='jace.png'/></label>
</div>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name='email' id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" name='password' id="inputPassword3" placeholder="Password">
    </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </div>
</form>
</div>
<!-- end of registration -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
