<html>
<head></head>

<body>

<h1>Search Cards</h1>


    <form action='/view-card' method="POST">
        <textarea name="cardName"></textarea>
        <button type="submit">Save</button>
    </form>




</body>

</html>