<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='styles.css'></link>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Search</title>
  </head>
  <body id="background">
    <div id='main'>
    <h1 id='header'>Search</h1>

    <!-- nav bar bootstrap -->
    <nav class="nav-style navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="collection">Collection<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="wishlist">Wish List</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="login">Log In</a>
              <form action="/logout" method="GET">
                <button class="dropdown-item" type="submit">Log Out</button>
              </form>
              <a class="dropdown-item" href="register">Register</a>
              <a class="dropdown-item" href='profile'>View Profile</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
<!-- end of navbar -->
{{! <form class="form-inline my-2 my-lg-0">
  <input id="searchTextArea" class="form-control mr-sm-2" type="search" placeholder="Search all cards" aria-label="Search">
  <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
</form> }}

  <form action='/view-card-advanced' method="POST">
      <textarea name="cardName" placeholder="Card Name, e.g. 'Squee'"></textarea>
      <textarea name="cardColor" placeholder="Card color: Red, Blue, Black, Green, White, Colorless"></textarea>
      <textarea name="cardSupertype" placeholder="Supertype"></textarea>
      <textarea name="cardCMC" placeholder="Total manacost (Must be number)"></textarea>
      <textarea name="cardRarity" placeholder="Rarity (Common, Uncommon, Rare, Mythic Rare, Special, Basic Land)"></textarea>
      <textarea name="cardArtist" placeholder="Artist"></textarea>
      <textarea name="cardId" placeholder="Multiverse ID"></textarea>
      <button id="advancedSearchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

      <div id="listingTable">
        <ul>
        </ul>

      </div>
      <div id='prev-next'>
      <a href="javascript:prevPage()" id="btn_prev"><button>Prev</button></a>
      page: <span id="page"></span>
      <a href="javascript:nextPage()" id="btn_next"><button>Next</button></a>
      </div>

          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <!-- Pagination script -->
          <!-- <script src='/js/search.js'></script> -->
          <!-- <script src='/js/site.js'></script> -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- <script src='/js/advanced-search.js'></script> -->

</body>

</html>
