<html>
<head></head>

<body>

<h1>Cards</h1>


<ul>
{{#cards}}
<li>
<p>{{name}}</p>
<img src="{{imageUrl}}"/>

<form action="/add-collection" method="POST">
    <input type="hidden" name="multiverseid" value="{{multiverseid}}" />
    <button type="submit">Add to Collection</button>
</form>

</li>
{{/cards}}
</ul>





</body>

</html>